.sign-btn{
 width: 75%;
 margin: 1px auto;
}
.google-btn{
  width: 75%;
  margin: 1px auto;
}
@media screen and (max-width:550px) {
  .sign-btn{
    width: 90%;
    margin: 1px auto;
   }
   .google-btn{
     width: 90%;
     margin: 1px auto;
   }
}
