@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'PT Mono', monospace;
}

.wrapper-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.image-container img {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 910px) {
    .wrapper-container {
        display: flex;
        flex-direction: column;
    }

    .image-container {
        height: 400px;
    }
}